# Python Data Structures

Python provides several primary data structures that you can use to organize and manipulate data efficiently. The primary data structures in Python include *tuples, lists,
dicts, and sets*.

## Tupples

A tuple is a fixed length, immutable (unchangeable) sequence of Python objects. The easiest way to create one is with a comma separated sequence of values:

In [ ]:
# Tuples — create & index
tup = (1, 2, 3)
tup[0]

1

You can create tuples of tuples, or nested tuples:

In [ ]:
# Tuples — nested & unpack
numbers = (1, 2, (3, 4))
a, b, (c, d) = numbers
unpacked = (a, b, c, d)
unpacked

(1, 2, 3, 4)

Elements can be accessed with square brackets:

In [ ]:
# Elements can be accessed with square brackets (0-indexed)
tup = (10, 20, 30)
print(tup[0])  # first element

10

It’s not possible to modify content of a tuple (that is why it is called immutable):

In [ ]:
# Tuples are immutable — attempting to modify raises TypeError
tup = (1, 2, 3)
tup[0] = 99  # TypeError: 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

You can concatenate tuples using the + operator to produce longer tuples:

In [ ]:
t1 = (1, 2, 3)
t2 = (3, 4)
t1 + t2

(1, 2, 3, 3, 4)

Multiplying a tuple by an integer, as with lists, has the effect of concatenating together that many copies of the tuple

In [ ]:
# multiply a tuple by a number
t = (1, 2)
t * 3

(1, 2, 1, 2, 1, 2)

If you assign a tuple like expression of variables, Python will unpack the value on the righthand side of the `=` sign:

In [ ]:
# assign a tuple to a variable and then unpack it
pt = (5, 6)
x, y = pt
print(x, y)

5 6

Even sequences with nested tuples can be unpacked:

In [ ]:
numbers = (1,2, (3,4))
a, b, (c, d) = numbers
a, b, c, d

(1, 2, 3, 4)

If you want to pluck only some elements from the beginning:

In [ ]:
# unpack the values but store only the first two values
values = 1, 2, 3, 4
first, second, *rest = values
first, second

(1, 2)

In [ ]:
#print the rest
print(rest)

[3, 4]

The underscore (`_`) is used for unwanted variables:

In [ ]:
# Use *_ to discard unwanted values
values = (10, 20, 30, 40, 50)
first, *_ = values
print(first)  # 10

10

#### Exercise

We have the following nested tuple:

In [ ]:
tup = ((1,2,3,4,5), (6,7,8,9,10), (11,12,13,14,15))
tup

((1, 2, 3, 4, 5), (6, 7, 8, 9, 10), (11, 12, 13, 14, 15))

Write the necessary code to fetch the last three elements from each inner tuple and to build a new non nested/flat tuple with these fetched elements.

The final outcome should be:`(3, 4, 5, 8, 9, 10, 13, 14, 15)`

In [ ]:
#you can use for loop,
#inside the loop insert the last three elements to a new tuple
result = []
for inner in tup:
    for x in inner[-3:]:
        result.append(x)
new = tuple(result)

TypeError: 'int' object is not subscriptable

## Lists

In contrast with tuples, lists are variable length and their contents can be modified in place. You can define them using square brackets:

In [ ]:
x = [1, 'a', 2, 'b']
type(x)

list

You can convert a tuple or a dictionary to a list using the `list()` conversion function:

In [ ]:
myList = list((1,2,3))
myList

[1, 2, 3]

You can use the `in` keyword to check if a list contains a value:

In [ ]:
#check if 3 is in myList

Similar to tuples, adding two lists together with + concatenates them:

In [ ]:
[4, None, 'A'] + [7, 8, (9,10)]

[4, None, 'A', 7, 8, (9, 10)]

**Manipulating Lists**

Elements can be appended to the end of the list with the
`append` method:

In [ ]:
#Append 4 to myList

Using `insert` you can insert an element at a specific
location in the list. The insertion index must be between 0 and the length of the
list, inclusive.

In [ ]:
myList.insert(0, 0) #index, value
myList

[0, 1, 2, 3, 4]

You can `pop` to remove an element at a particular index.
After removal it will return the element itself.

In [ ]:
print(myList.pop(0))
print(myList.pop(0))
print(myList)

1
2
[3]

Elements can be removed by value with `remove`, which locates
the first such value and removes it from the list:

In [ ]:
myList.append(2)
myList

[2, 3, 4, 2]

In [ ]:
#remove 2 from myList

If you have a list already defined, you can append multiple
elements to it using the `extend` method:

In [ ]:
x = [4, None, 'A']
#Add [1,2,3] to x

Using `extend` to append elements to an existing list, especially if you are building up a large list, is usually preferable. It is faster than the concatenative alternative.

You can sort a list in place (without creating a new object) by calling its `sort` function:

In [ ]:
a = [6,5,4,3,2,1]
a.sort()#it does not return anything
a

[1, 2, 3, 4, 5, 6]

**Exercise**

We have two lists containing a mix of string and integer values:

`list1 = [5 , \"D\", 2 , \"C\", 4]`

`list2 = [3 , \"A\", 1, \"B\", 6]`

Write the necessary code to obtain two separate lists for strings and integer values. The final lists should be sorted in an ascending order:

`['A', 'B', 'C', 'D’]`

`[1, 2, 3, 4, 5, 6]`

In [ ]:
#I recommend merging two lists into a new single list.
#Create two new empty lists one to store integers another to store strings
#Iterate through the elements of the new list
#At each iteration chek if the value is an integer or string using type function
#    After this check, add the value to the correct list (string or int)
#Then do the sorting.

###Slicing Lists

You can select sections of most sequence types by using
slice notation. In its basic form, `start:stop` are passed to the indexing operator `[]`.The element at the start index is included, but the stop index is excluded.

![slicing-image.png]()

In [ ]:
seq = [1, 2, 3, 4, 5, 6, 7]
seq[1:3]

[2, 3]

Either the start or stop can be omitted:

In [ ]:
#Select elements until the 4th item
#or select the first three items

In [ ]:
#Select all starting from the 4th item
#or select the items after the 3rd item

Negative indices slice the sequence relative to the end:

In [ ]:
seq[-3:]

[5, 6, 7]

In [ ]:
seq[-4:-2]

[4, 5]

A step can also be used after a second colon to, say, take every other element:

In [ ]:
seq = [0, 1, 2, 3, 4]
seq[::2]

[0, 2, 4]

A clever use of this is to pass 1, which has the useful effect of reversing a list or tuple:

### **Exercise**

We have the following sequence: `seq = [1,2,3,4,5,6,7,8,9,10]`

Our goal is to find out if the sum of the numbers at odd indices (2, 4, 5, …) are bigger than the sum of the numbers at even indices (1, 3, 5, …). You need to use slicing for this task. You can use `sum` function to add up the numbers in a list.

In [ ]:
seq = [1,2,3,4,5,6,7,8,9,10]

In [ ]:
%%time
sum1 =  #2,4,6,8,10
print(sum1)

sum2=   #1,3,5,7,9
print(sum2)

In [ ]:
%%time
#implement the same with for loop

###Enumerate

It’s common when iterating over a sequence to want to keep track of the index of the current item.

In [ ]:
i = 0#variable to keep the index of the item being iterated
for value in [1,2,3,4]:
  print("value:", value)
  print("index:", i)
  i++

Since this is so common, Python has a built
in function, `enumerate`, which returns a sequence of `(index, value)` tuples:

In [ ]:
for ix, value in enumerate([1,2,3,4]):
  print("value:", value, "index:", ix)

value: 1 index: 0
value: 2 index: 1
value: 3 index: 2
value: 4 index: 3

Previous exercise could be done easily using `enumerate`.

###Strings as lists

You can treat a `string` as a list-like object in Python because strings are sequences of characters. While they are not exactly lists, they share some characteristics with lists and other sequences.

In [ ]:
x = 'This is a string'
print(x[0])  #first character
print(x[0:1])  #first character, but we have explicitly set the end character
print(x[0:2])  #first two characters

However, keep in mind that strings are immutable in Python, meaning you cannot change their individual characters. Lists, on the other hand, are mutable, and you can modify their elements. So, while strings share some similarities with lists, they have their own unique characteristics as well.

## `zip` Built-in Method

`zip` “pairs” up the elements of a number of lists, tuples, or other sequences to create a list of tuples:

In [ ]:
seq1 = ['A', 'B', 'C']
seq2 = [1, 2, 3]
zipped = zip(seq1, seq2)
list(zipped)

[('A', 1), ('B', 2), ('C', 3)]

The number of elements it produces is determined by the
shortest sequence:

In [ ]:
seq3 = [True, False]
list(zip(seq1, seq2, seq3))

[('A', 1, True), ('B', 2, False)]

###**Exercise**

We have the three lists below:

In [ ]:
studentIds = [1,2,3,4,5,6]
quiz1 = [80, 30, 35, 90, 60, 80]
quiz2 = [70, 20, 95, 80, 75, 20]

Using a single for loop, find the students who got 60 or more in both quizzes. Here `zip` function comes very handy.

In [ ]:
wholeData = #zip three lists

In [ ]:
#use for loop to iterate wholeData

## Dictionaries (`dict`)

A dictionary, often abbreviated as `dict`, is a fundamental and versatile built-in data structure in Python. It serves as a collection of key-value pairs, where each key and value can be any valid Python object.

Dictionaries are flexible in size, meaning they can grow or shrink as needed to accommodate your data. You can create a dictionary using curly braces `{}` or the `dict()` constructor.

To define the key-value pairs within a dictionary, you use colons `:` to separate the keys from their corresponding values.

Here's a simple example of creating a dictionary:

In [ ]:
my_dict = {'name': 'Alice', 'age': 30, 'city': 'New York'}

In this dictionary, `'name'`, `'age'`, and `'city'` are `keys`, and `'Alice'`, `30`, and `'New York'` are their respective `values`.

Dictionaries are extremely useful for associating and retrieving data using meaningful keys, making them a powerful tool in Python programming.

You can access, insert, or set elements using the same syntax as for accessing elements of a list or tuple:

In [ ]:
my_dict["gender"] = "female"
my_dict

You can check if a `dict` contains a key

In [ ]:
'name' in my_dict

You can delete values either using the `del` keyword or the `pop` method:

In [ ]:
del my_dict['gender']
my_dict

In [ ]:
age = my_dict.pop('age')
age

The `keys` and `values` method give you iterators of the
`dict`’s keys and values, respectively.

In [ ]:
print(list(my_dict.keys()))
print(list(my_dict.values()))

You can merge one dict into another using the `update` method:

In [ ]:
my_dict.update({'age':30, 'gender':'female'})
my_dict

In [ ]:
my_dict.update({'gender':'male'})
my_dict

###**Exercise**

We have the three lists below:

    studentIds = [1, 2, 3, 4, 5, 6]
    quiz1 = [80, 30, 35, 90, 60, 80]
    quiz2 = [70, 20, 95, 80, 75, 20]

Convert this into a dictionary:

    {
         '1': {'quiz1': 80, 'quiz2': 70},
         '2': {'quiz1': 30, 'quiz2': 20},
         '3': {'quiz1': 35, 'quiz2': 95},
         '4': {'quiz1': 90, 'quiz2': 80},
         '5': {'quiz1': 60, 'quiz2': 75},
         '6': {'quiz1': 80, 'quiz2': 20}
    }

`studentGrades['3']['quiz1'] should return 35`

In [ ]:
studentGrades = {}

#use for loop

## `set` Data Structure

A **set** is an unordered collection of unique elements that are unindexed. A set can be created in two ways: via the `set` function or via a set literal with curly braces `{}`:

In [ ]:
set([1, 1, 1, 2, 2, 3])

In [ ]:
a = {1, 1, 1, 2, 2, 3}
a

`sets` support mathematical set operations like union, intersection, difference, and symmetric difference.

In [ ]:
b = {3, 4, 5, 6}

In [ ]:
a.intersection(b)

In [ ]:
a.union(b)

In [ ]:
a-b

{1, 2}

## Lambda Expressions

 Lambda expressions in Python are concise, anonymous functions used for simple, one-line operations. They are created using the `lambda` keyword, followed by the function parameters and an expression to compute the result.

 Here's a basic syntax: `lambda arguments: expression`

For example, this lambda expression calculates the square of a number:

In [ ]:
square = lambda x: x * x
#write the same expression as a function definition

You can then use square like a regular function:

In [ ]:
result = square(5)  # Result is 25

Lambda expressions are often used in places where a short, simple function is needed, such as sorting, filtering, or mapping data. They're handy for writing concise code and can make your code more readable when the logic is straightforward.

## List Comprehensions

List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

The general structure of a list comprehension is as follows:

`new_list = [expression for item in iterable if condition]`

Creating a list of squared values:

In [ ]:
numbers = [1, 2, 3, 4, 5]
squares = [x * x for x in numbers]
# Result: [1, 4, 9, 16, 25]

Filtering lists:

In [ ]:
numbers = [1, 2, 3, 4, 5]
evens = [x for x in numbers] # return the item if it is even
# Result: [2, 4]

In [ ]:
#Return the item if it is not banana, if it is banana return orange.

Given a list of strings, we could filter out strings with
length 2 or less and also convert them to uppercase like this:

In [ ]:
words = ["a", "abc", "abcd", "python"]
[word.upper() for word in words if len(word) \u003E 3]

['ABCD', 'PYTHON']

Convert strings to uppercase:

In [ ]:
words = ["hello", "world", "python"]
uppercase_words = [word.upper() for word in words]
# Result: ["HELLO", "WORLD", "PYTHON"]

Create a list of tuples:

In [ ]:
names = ["Alice", "Bob", "Charlie"]
name_lengths = [(name, len(name)) for name in names]
# Result: [("Alice", 5), ("Bob", 3), ("Charlie", 7)]

### Dictionary Comprehensions

Dictionary comprehensions in Python are a concise and efficient way to create dictionaries by specifying key-value pairs based on existing iterables. They allow you to create dictionaries in a single line of code using a compact and readable syntax.

Here's the basic structure of a dictionary comprehension:

`new_dict = {key_expression: value_expression for item in iterable if condition}`

* `new_dict`: This is the dictionary you want to create.
* `key_expression`: An expression that determines the keys in the new dictionary.
* `value_expression`: An expression that determines the values associated with the keys.
* `item`: A variable representing each element in the iterable.
* `iterable`: The source of data you want to iterate over.
* `condition (optional)`: An optional filter to include only items that meet a specific condition.

In [ ]:
numbers = [1, 2, 3, 4, 5]
square_dict = {x: x * x for x in numbers}
# Result: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

Swap keys and values in a dictionary:

In [ ]:
original_dict = {'apple': 'fruit', 'banana': 'fruit', 'carrot': 'vegetable'}
# Result: {'fruit': 'banana', 'vegetable': 'carrot'}

### **Exercise**

We have two lists below holding three students’ midterm scores:

In [ ]:
midterm1 = [30, 60, 80]
midterm2 = [80, 95, 85]

Use comprehensions to compute the average for each student:

In [ ]:
#

### **Exercise**

We have the three lists below:

In [ ]:
studentIds= [1, 2, 3, 4, 5, 6]
quiz1 = [80, 30, 35, 90, 60, 80]
quiz2 = [70, 20, 95, 80, 75, 20]

Use
comprehensions to convert this list into a dictionary:

    {
        '1': {'quiz1': 80, 'quiz2': 70},
        '2': {'quiz1': 30, 'quiz2': 20},
        '3': {'quiz1': 35, 'quiz2': 95},
        '4': {'quiz1': 90, 'quiz2': 80},
        '5': {'quiz1': 60, 'quiz2': 75},
        '6': {'quiz1': 80, 'quiz2': 20}
    }

In [ ]:
#